@import "../../styles/constants.scss";

.sideBar {
  background: $more_transparent_maroon;
  height: -webkit-fill-available;
  width: 400px;
  position: absolute;
  top: 0;
  left: 220px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  padding: 0.75rem;
  grid-template-rows: repeat(6, 1fr);

  a {
    color: #fff;
    height: -webkit-fill-available;
    width: 400px;
    position: absolute;
    top: 0;
    left: 220px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  > span {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem 0.5rem !important;
    height: fit-content;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :hover {
    background-color: $red_bg;
    border-radius: 5px;
  }
}

.dropdownItem:hover {
  background: #d9475c url(../../public/Images/nav_icon_bg.png) no-repeat;
  background-position: right 1em bottom 15px;
}
