@import "../../styles/constants.scss";

.background_header {
    background: url("../../public/Images/cover-image-register.jpg") no-repeat center center;
    padding: 3rem 0 15rem 0;
    background-size: cover;
}

.bg {
    background: rgb(231, 230, 230);
}