.modal_form {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  // height: 100%;
  background: hsl(0deg 0% 0% / 70%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .ResetForm {
    // width: 35%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .ImageSection {
      text-align: center;
      img {
        height: 150px;
        width: 150px;
      }
      video {
        height: 150px;
        width: 150px;
      }
    }

    .ResetHeader {
      margin-bottom: 0.5rem;

      h4 {
        display: inline-block;
        margin: 0;
        line-height: initial;
        width: 100%;
        color: #dc3545;
        text-align: center;
      }

      p {
        font-size: 14px;
        text-align: center;
        margin: 0%;
        font-weight: 500;
        margin-top: 1rem;

        span {
          font-weight: 600;
        }
      }
    }

    .FormDiv {
      padding: 0% 1rem;
      font-size: 14px;
      margin-top: 2rem;

      .ButtonSection {
        text-align: center;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        button {
          display: flex;
          align-items: center;
          border: none;
          margin: 0;
          gap: 5px;
          font-size: 14px;
          background: #dc3545;
        }

        .FromBtnSubmit {
          background: #dc3545;
        }
        .SuccessFormButton {
          background-color: rgb(31, 225, 132);
        }
        .loginSpiner {
          height: 20px;
          width: 20px;
          margin-right: 10px;
          color: #ffffff !important;
        }
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .modal_form {
    .ResetForm {
      padding: 1rem;
      .ResetHeader {
        h4 {
          padding-right: 2rem;
        }
      }
    }

    .FormDiv {
      .FormInputDiv {
        padding: 0%;
      }
    }
  }
}
