@import "../../styles/constants.scss";

.singleBox {
  div {
    width: 100%;

    svg {
      position: absolute;
      right: 15px;
      top: 40%;
    }
  }

  .inputBox {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0.875rem 5.5rem;
    text-align: center;
    // margin: 0.6em;
    color: $browser_text;
    cursor: pointer;
    position: relative;
    min-width: 275px;
    background-color: $milkWhite_bg;

    .inputBoxVal {
      visibility: hidden;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      padding: 0.875rem 1rem;
      text-align: center;
      margin: 0.6em;
      color: $browser_text;
      cursor: pointer;
      width: 100%;
      position: absolute;
      left: -9px;
      border: 1px solid $red_bg;
      background: $milkWhite_bg;
      box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
      z-index: 9;

      ul {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        cursor: text;
        display: grid;
        grid-template-columns: auto auto auto;

        li {
          position: relative;
          margin: 3px 5px 3px 0;
          padding: 10px 20px 10px 5px;
          border: 1px solid #d9d9d9;
          max-width: 100%;
          border-radius: 3px;
          background-color: #f5f5f5;
          cursor: default;
          line-height: 16px;
          font-size: 14px;

          &:hover {
            background-color: #d9475c;
            color: #fff;
          }
        }

        .tabActive {
          background-color: #d9475c;
          color: #fff;
        }
      }
    }
  }

  .blankInput {
    border: none !important;
    background: transparent !important;
    list-style: none;

    input {
      padding: 0;
      height: 25px;
      outline: 0;
      border: 0 !important;
      background: transparent !important;
      box-shadow: none;
      color: #999;
      font-size: 100%;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;
    }
  }

  .active {
    visibility: visible !important;
  }
}

.singleDropdownContainer {
  background-color: cadetblue;

  .singleBox {
    div {
      width: 100%;

      svg {
        position: absolute;
        right: 15px;
        top: 40%;
      }
    }

    .inputBox {
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      padding: 0.875rem 7.5rem;
      text-align: center;
      cursor: pointer;
      position: relative;
      min-width: 275px;
      float: right;
      color: $browser_text;
      background-color: $milkWhite_bg;

      .inputBoxVal {
        visibility: hidden;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 0.875rem 1rem;
        text-align: center;
        margin: 0.6em;
        color: $browser_text;
        cursor: pointer;
        width: 100%;
        position: absolute;
        left: -9px;
        border: 1px solid $red_bg;
        background: $milkWhite_bg;
        box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
        z-index: 9;

        ul {
          list-style: none;
          margin: 0;
          padding: 0 5px;
          width: 100%;
          max-height: 300px;
          overflow-x: hidden;
          overflow-y: scroll;
          cursor: text;
          display: grid;
          grid-template-columns: auto auto auto;

          li {
            position: relative;
            margin: 3px 5px 3px 0;
            padding: 10px 20px 10px 5px;
            border: 1px solid #d9d9d9;
            max-width: 100%;
            border-radius: 3px;
            background-color: #f5f5f5;
            cursor: default;
            line-height: 16px;
            font-size: 14px;

            &:hover {
              background-color: #d9475c;
              color: #fff;
            }
          }

          .tabActive {
            background-color: #d9475c;
            color: #fff;
          }
        }
      }
    }

    .blankInput {
      border: none !important;
      background: transparent !important;
      list-style: none;

      input {
        padding: 0;
        height: 25px;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        box-shadow: none;
        color: #999;
        font-size: 100%;
        font-family: sans-serif;
        line-height: normal;
        border-radius: 0;
        text-align: start;
      }
    }

    .active {
      visibility: visible !important;
    }
  }
}




@media only screen and (max-width: 990px) and (min-width: 768px) {
  .profile_Container {
    padding: 0 2rem;
    padding-bottom: 5rem;
    text-align: center;

    .formEdit {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .singleBox {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        label {
          position: initial;
          margin: 0%;
          text-align: start;
        }

        .inputBox {
          margin: 0%;
          padding: 0%;
          text-align: start;
          width: -webkit-fill-available;

          input {
            text-align: start;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) and (min-width: 423px) {
  .profile_Container {
    padding: 0 2rem;
    padding-bottom: 5rem;
    text-align: center;

    .formEdit {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .singleBox {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        label {
          position: initial;
          margin: 0%;
          text-align: start;
        }

        .inputBox {
          margin: 0%;
          padding: 0%;
          text-align: start;
          width: -webkit-fill-available;

          input {
            text-align: start;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {

  .singleBox {
    display: flex;
    flex-direction: column;

    label {
      position: initial;
      margin: 0%;
      text-align: start;
    }

    .inputBox {
      margin: 0.6rem 0;
      padding: 0%;
      width: -webkit-fill-available;

      .blankInput {
        text-align: start;

        input {
          text-align: start;
          padding: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .profile_Container {
    text-align: center;
  }

  .singleBox {
    .inputBox {
      margin: 0.6rem 0;
      padding: 0%;
      min-width: initial;
    }
  }
}