.Form_Wrapper {
  background-color: rgb(0, 0, 0, 0.65);
  padding: 18px;
  color: #fff;
  font-size: 12px;
  width: 100%;
  border-radius: 6px;
  margin-left: 30px;

  .Form_input {
    padding: 4px 12px;
    border-radius: 2px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .Password_Char_Info {
    background-color: #0000006e;
    padding: 0.4rem 0.8rem;
    margin-top: 0.6rem;
    line-height: 12px;
    letter-spacing: 0.61px;
    font-size: 10px;
  }

  .Form_btn {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passwordWraper {
    position: relative;

    svg {
      position: absolute;
      right: 1rem;
      font-size: 22px;
      top: 50%;
      cursor: pointer;
      color: black;
      transform: translateY(3px);
    }

    .PasswordShowAline {
      transform: translateY(-70%);
    }

    .PasswordShow {
      color: #dc3545;
    }
  }

  .redF12 {
    color: #dc3545;
    font-size: 12px;
    display: inline;
  }
}

// Modal Form
.modal_form_signUp {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  Form {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 7px;
    background: #1b1b1b;
  }
}

.modal_form {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  Form {
    width: 35%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h4 {
      text-align: center;
      margin-bottom: 2rem;
      background-color: #fff;

      span {
        color: #dc3545;
        font-weight: 500;
      }
    }

    .Form_btn {
      box-shadow: 1px 1px 1.5px 0.2px rgb(59, 54, 54);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal_links {
      color: #065ad8d3;
      justify-content: right;
      padding-right: 0.5rem;
      font-size: 14px;
      cursor: pointer;
    }

    .FromBtnlogin {
      background-color: #4361ee;
    }

    .loginRegister_section {
      margin-top: 2rem;
      text-align: center;

      .RegisterButton {
        background-color: transparent;
        color: #dc3545;
        border: none;
        outline: none;
        margin: 0% 5px;
        display: inline-block;
        cursor: pointer;
      }
    }

    .modal_input {
      margin-bottom: 1.5rem;
      border: 1px solid gray;
      border-radius: 25px;
      background-color: #e7e7e6;
      position: relative;

      Input {
        padding: 0.8rem 1.5rem;
        background-color: #e8f0fe;
        border: none;
        cursor: pointer;
        border-radius: inherit;
      }

      .mobileInput {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }

      svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 24px;
        cursor: pointer;
      }
    }

    .Form_Login_check {
      margin-bottom: 2rem;

      input {
        padding: 0;
        cursor: pointer;
      }

      label {
        font-size: 0.9rem;
      }
    }

    .Form_Login_checkDis {
      margin-bottom: 2rem;

      input {
        padding: 0;
        cursor: pointer;
      }

      label {
        font-size: 0.9rem;
        color: #91918c;
      }
    }

    .MobileCode {
      padding: 0.8rem 1.5rem;
      background-color: #e8f0fe;
      border: none;
      cursor: pointer;
      outline: none;
      border-right: 1px solid gray;
      border-radius: 0%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  .modal_closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    height: 2rem;
    padding: 0;
    width: 2rem;
    font-weight: 700;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #dc3545;
  }
  .modal_closeBtn:active {
    background-color: transparent;
  }
}

.loginSpiner {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

//--------------------- otp modal -------------------------

.modal_Inner {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #fcfcfcf6;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;

  .modal_middle {
    text-align: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    .otpImg_container {
      background-color: #f6f6f6;
      border-radius: 50%;
      display: grid;
      place-items: center;
      height: 6rem;
      width: 6rem;
      padding: 1rem;

      .otpImage {
        height: 100%;
        width: 100%;
        color: #dc3545;
      }
    }

    h3 {
      font-weight: 600;
    }

    p {
      margin: 0%;
      color: #918c8c;

      span {
        font-weight: 700;
      }
    }
  }
}

.OtpBtn_Container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .verify_otp {
    color: white;
    background-color: #dc3545;
    border: 2px solid #dc3545;

    &:hover {
      color: #dc3545;
      background-color: #fff;

      .loginSpiner {
        color: #dc3545 !important;
      }
    }
  }
}

// footer {
//   border: none;
// }

@media screen and (max-width: 991px) and (min-width: 500px) {
  .modal_form {
    Form {
      width: 80%;
      padding: 40px;

      .MobileCode {
        padding: 0.8rem 0.4rem;
        background-position: right 0.5rem center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Form_Wrapper {
    width: 100%;
    margin-top: 1rem;

    .modal_form {
      Form {
        width: 35vw;

        .MobileCode {
          padding: 0.8rem 1rem;
        }

        label {
          display: block;
        }
      }

      .modal_closeBtn {
        padding: 0%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .modal_form {
    Form {
      width: 80%;
      padding: 20px;

      .MobileCode {
        padding: 0.8rem 0.4rem;
        background-position: right 0.5rem center;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .Form_Wrapper {
    .Form_input {
      padding: 4px 5px;
      background-position: right 0.1rem center !important;
      font-size: 0.8rem;
    }
  }

  .modal_form {
    Form {
      width: 80%;
      padding: 20px;

      .MobileCode {
        padding: 0.8rem 0.4rem;
        background-position: right 0.1rem center;
      }
    }
  }
}
