.Form_Wrapper {
  background-color: rgb(0, 0, 0, 0.65);
  padding: 18px;
  color: #fff;
  font-size: 12px;
  width: 75%;
  border-radius: 6px;
  margin-left: 30px;

  .Form_input {
    padding: 4px 12px;
    border-radius: 2px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .Form_btn {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600px;
    font-style: bold;
  }
}


// Search
.background_banner{
  background: url(../../public/Images/cover_img_free_chat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.bg_gray{
  background-color: #e7e6e6;
  padding-top: 50px;
.Search_body{
  border-radius: 2px ;
  border: 1px solid #ddd;
  background: #fff;
  padding: 3.5rem 0 0 0;

  .search_group{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .input_search{
      border-radius: 0px;
      border: 1px solid #d1d1d1;
      width: 54%;
      padding: 0.7rem;
      box-shadow: 0.5px 0.5px 3px #d1d1d1;
    }
    .input_select{
      width: 27%;
      border: 1px solid #d1d1d1;
      border-radius: 0px;
      padding: 0.7rem;
      box-shadow: 0.5px 0.5px 3px #d1d1d1;
    }
    
  }
}
}
@media screen and (max-width: 767px) {
  .Form_Wrapper {
    width: 100%;
    margin-top: 1rem;
  }
}
