.Form_Wrapper {
  background-color: rgb(0, 0, 0, 0.65);
  padding: 18px;
  color: #fff;
  font-size: 12px;
  width: 100%;
  border-radius: 6px;
  margin-left: 30px;

  .Form_input {
    padding: 4px 12px;
    border-radius: 2px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .Password_Char_Info {
    background-color: #0000006e;
    padding: 0.4rem 0.8rem;
    margin-top: 0.6rem;
    line-height: 12px;
    letter-spacing: 0.61px;
    font-size: 10px;
  }

  .Form_btn {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passwordWraper {
    position: relative;

    svg {
      position: absolute;
      right: 1rem;
      font-size: 22px;
      top: 50%;
      cursor: pointer;
      color: black;
      transform: translateY(3px);
    }

    .PasswordShowAline {
      transform: translateY(-70%);
    }

    .PasswordShow {
      color: #dc3545;
    }
  }

  .redF12 {
    color: #dc3545;
    font-size: 12px;
    display: inline;
  }
}

// Modal Form
.modal_form_signUp {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  Form {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 7px;
    background: #1b1b1b;
  }
}

.modal_form {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsl(0deg 0% 0% / 70%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  Form {
    width: 35%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h4 {
      text-align: center;
      margin-bottom: 1rem;
      background-color: #fff;

      span {
        color: #dc3545;
        font-weight: 500;
      }
    }
    .loginWithSec {
      display: flex;
      align-items: center;
      gap: 1rem;

      h6 {
        font-size: 16px;
        font-weight: 600;
        color: #e91e63;
        margin: 0%;
        margin-top: -0.5rem;
      }
    }

    .ImageSection {
      text-align: center;
      img {
        height: 150px;
        width: 150px;
      }
      video {
        height: 150px;
        width: 150px;
      }
    }

    .MobileCode {
      height: 100%;
      width: 100%;
      background-color: #fff;
      border: none;
      cursor: pointer;
      outline: none;
      border-right: 1px solid gray;
      border-radius: 0%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .modal_input {
      margin-bottom: 1rem;
      border: 1px solid gray;
      border-radius: 10px;
      background-color: transparent;
      position: relative;

      Input {
        padding: 0.6rem;
        height: 100%;
        background-color: #fff !important;
        border: none;
        cursor: pointer;
        border-radius: inherit;
        :focus-within {
          background-color: #dc3545;
        }
      }

      .mobileInput {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 24px;
        cursor: pointer;
      }
    }
    .modal_links {
      color: #4361ee;
      justify-content: right;
      padding-right: 0.5rem;
      font-size: 14px;
      cursor: pointer;
      margin-top: -0.5rem;
    }
    .Form_btn {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4rem 2rem;
      margin: 1rem auto;
      border: 1.5px solid #dc3545;
      color: #dc3545;
      background-color: transparent;

      .loginSpiner {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        color: #dc3545 !important;
      }
    }
    .Form_btn:active {
      background-color: #dc3545;
      color: white;
      .loginSpiner {
        color: #fff !important;
      }
    }
    .loginRegister_section {
      margin-top: 1rem;
      text-align: center;

      .RegisterButton {
        background-color: transparent;
        color: #dc3545;
        border: none;
        outline: none;
        margin: 0% 5px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  .modal_closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    height: 2rem;
    padding: 0;
    width: 2rem;
    font-weight: 700;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #dc3545;
  }
  .modal_closeBtn:active {
    background-color: transparent;
  }
}

//--------------------- otp modal -------------------------

.modal_Inner {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #fcfcfcf6;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;

  .modal_middle {
    text-align: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    .otpImg_container {
      background-color: #f6f6f6;
      border-radius: 50%;
      display: grid;
      place-items: center;
      height: 6rem;
      width: 6rem;
      padding: 1rem;

      .otpImage {
        height: 100%;
        width: 100%;
        color: #dc3545;
      }
    }

    h3 {
      font-weight: 600;
    }

    p {
      margin: 0%;
      color: #918c8c;

      span {
        font-weight: 700;
      }
    }
  }
}

.OtpBtn_Container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .verify_otp {
    color: white;
    background-color: #dc3545;
    border: 2px solid #dc3545;

    &:hover {
      color: #dc3545;
      background-color: #fff;

      .loginSpiner {
        color: #dc3545 !important;
      }
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 515px) {
  .modal_form {
    Form {
      width: 80%;
      padding: 40px;

      .MobileCode {
        padding: 0.8rem 0.4rem;
        background-position: right 0.5rem center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Form_Wrapper {
    width: 100%;
    margin-top: 1rem;

    .modal_form {
      Form {
        width: 35vw;

        .MobileCode {
          padding: 0.8rem 1rem;
        }

        label {
          display: block;
        }

        .loginWithSec {
          flex-direction: column;
          align-items: baseline;
          gap: 0;
        }
      }

      .modal_closeBtn {
        padding: 0%;
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .modal_form {
    Form {
      width: 85%;
      padding: 15px;

      h4 {
        margin-bottom: 1rem;

        span {
          font-size: 18px !important;
        }
      }

      .MobileCode {
        padding: 0.4rem;
        background-position: right 0.5rem center;
      }
      .loginWithSec {
        flex-direction: column;
        align-items: baseline;
        gap: 0;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .Form_Wrapper {
    .Form_input {
      padding: 4px 5px;
      background-position: right 0.1rem center !important;
      font-size: 0.8rem;
    }
  }

  .modal_form {
    Form {
      width: 90%;
      padding: 10px;

      .MobileCode {
        padding: 0.8rem 0.4rem;
        background-position: right 0.1rem center;
      }
    }
  }
}
