.ResetForm {
  width: 35%;
  margin: 0 auto;
  padding: 2rem 1rem !important;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //   min-height: 64%;

  .ResetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backButton {
      background-color: transparent;
      padding: 5px;
      border: none;
      cursor: pointer;
      color: rgb(127, 127, 127);
    }

    .backButton:active {
      background-color: #ffffff;
    }
    h4 {
      display: inline-block;
      margin: 0;
      line-height: initial;
      width: -webkit-fill-available;
    }
  }

  .ImageSection {
    text-align: center;
    img {
      height: 150px;
      width: 150px;
    }
    video {
      height: 150px;
      width: 150px;
    }
  }

  .FormDiv {
    padding: 0% 1rem;
    font-size: 14px;

    .FormInputDiv{
        padding: 0% 1rem;
    }

    .ButtonSection {
      text-align: center;
      margin-top: 1rem;

      button {
        display: flex;
        align-items: center;
        border: none;
        margin: auto;
        gap: 5px;
        font-size: 14px;
      }

      .FromBtnSubmit {
        background: #dc3545;
      }
      .SuccessFormButton {
        background-color: rgb(31, 225, 132);
      }
      .loginSpiner {
        height: 15px;
        width: 15px;
      }
    }
    p {
      font-size: 12px;
      margin: 0%;
      font-weight: 500;
      margin-top: 1rem;

      span {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    ul {
      li {
        font-size: 12px;
        color: #3e3d3d;
      }
    }
  }
}
