@import "../../styles/constants.scss";

.cardWrapper {
  margin: -3rem auto;
  width: 75%;

  img {
    width: 100%;
    object-fit: cover;
    background-color: #cfcfcf;
  }

  SVG {
    cursor: pointer;
  }

  .cardInfo {
    background-color: $light_grey_bg;
    border-right: 1px solid gainsboro;

    .MyProfileMiddle {
      height: 100%;
      padding: 1rem;

      .MiddleLeft {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .MiddleLeftHeading {
          font-size: 18px;
          font-weight: 400;
          color: #d9475c;
          margin-bottom: 0rem;
          display: flex;
          justify-content: space-between;

          span {
            color: #979090;
            text-transform: capitalize;
          }

          .Package_type {
            color: #d9475c;
          }
        }
      }
    }

    .profileCardIiconSection {
      .AddDetailsHeading {
        font-size: 20px;
        font-weight: 600;
        color: black;
      }
    }
  }

  .rightBox {
    background-color: $light_grey_bg;
    // color: $white_txt;
    color: #c3c3c3;
    text-align: center;
    padding: 0;
    // width: auto;
    transition: all 0.75s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      position: relative;
      margin-bottom: 1rem;

      span {
        bottom: 0px;
        color: rgb(255, 60, 60);
        font-size: 1.5rem;
        font-weight: 600;
        line-height: normal;
      }
    }

    .CompleteProfileHEd {
      line-height: 25px;
      cursor: pointer;
      font-size: 16px;
      margin: 0;
      color: #383535;
    }

    svg {
      // margin-right: 20px;
      font-size: 1.5rem;
    }
  }

  .mobileRow {
    z-index: 12;
    position: relative;
    min-height: 15rem;
  }
}

.bg {
  background: rgb(231, 230, 230);
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .cardWrapper {
    margin-top: 1rem;

    img {
      width: 100%;
      object-fit: cover;
    }

    .cardInfo {
      .MyProfileMiddle {
        padding: 2rem 1rem;
        gap: 1rem;
      }
    }

    .rightBox {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 0px;
      padding: 0% 2rem;
      padding-top: 1rem;

      div {
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) and (min-width: 423px) {
  .cardWrapper {
    margin-top: 3rem;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }

    .cardInfo {
      .UserName_Section {
        min-height: 60px;
      }
    }

    .rightBox {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0rem 2rem;

      p {
        padding: 0;
        text-align: center;
        padding: 0rem 1rem;

        svg {
          margin: 0%;
        }
      }

      div {
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .bg {
    background-color: #2e97ea;
  }

  .cardWrapper {
    margin-top: 1rem;
    width: 100%;

    img {
      width: 100%;
    }

    .cardInfo {
      // .UserName_Section {
      //     min-height: 50px;
      // }
      .MyProfileMiddle {
        padding: 2rem 1rem;
        gap: 2rem;
      }
    }

    .rightBox {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0rem 2rem;

      div {
        span {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .cardWrapper {
    .cardInfo {
      .MyProfileMiddle {
        padding: 2rem 1rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .cardWrapper {
    .mobileRow {
      margin-top: -125px;
      position: initial;

      .Profile_section {
        background-color: #f0f2f7;

        .mobileAvatar {
          width: 200px;
          height: 200px;
          margin: 0 auto;
          border-radius: 100%;
          border: 8px solid #fff;
          position: relative;
          z-index: 12;
        }
      }

      .cardInfo {
        .MyProfileMiddle {
          padding: 1rem;
        }
      }
    }
  }
}
