// @import "../LandingPage/LandingPage.module.scss";
@import "../../styles/constants.scss";

.background_header {
    background: url("../../public/Images/cover-image-register.jpg") no-repeat center center;
    padding-top: 2.1875rem;
    background-size: cover;
}

.register_header_Links {
    padding: 38px 80px 22px 80px;
    text-align: center;
    width: 75%;
    margin: auto;
    a {
        border-bottom: 2px solid #fff;
        font-size: 17px;
        display: block;
        width: 33.3%;
        padding-bottom: 10px;
        color: #fff;
        opacity: 0.5;
        cursor: pointer;
    }

    .active {
        opacity: 1;
    }
}








@media only screen and (max-width: 990px) and (min-width: 768px) {
    .register_header_Links {
        padding: 38px 0;
    }
}

@media only screen and (max-width: 540px) and (min-width: 423px) {
    .register_header_Links {
      padding: 38px 0;
  }
  }

@media only screen and (max-width: 415px) {
    .register_header_Links {
        padding: 38px 0;
        width: 100%;
    }
}



@media only screen and (max-width: 300px) {
    .register_header_Links, .register_header_Links a {
      width: 100%;
    }
  }









// .profile_Container{
//     background: rgb(231, 230, 230);
//     padding-bottom: 10rem;
//     h1{
//         font-size: 1.375rem;
//         text-align: center;
//         padding: 1.875rem 0;
//     }
//     small{
//         text-align: end;
//         display: block;
//         padding-bottom: 1rem;
//     }
//     small::after{
//         content: " *";
//         color: #F00;
//         font-size: 18px;
//     }
//     .inputCover{
//         border: 1px solid #d9d9d9;
//         input{
//             border-radius: 2px;
//             padding: 14px 10px;
//             margin-bottom: 1em;
//         }
//     }
// }
// .right_section{
//     padding-top: 8rem;
//     @media screen and (max-width: 768px) {
//         padding-top: 4rem;
//     }
//     h3{
//         font-size: 1.0625rem;
//         font-weight: 700;
//         border-bottom: 1px solid #666;
//         padding-bottom: 1rem;
//         text-align: center;
//     }
//     i{
//         background-image: url("../../public/Images/reg-spirite.png");
//         background-repeat: no-repeat;
//         display: block;
//         margin: auto;

//     }
//     span{
//         display: block;
//         width: 90%;
//         text-align: center;
//         margin: auto;
//     }
//     .icon1{
//         background-position: 1px 1px;
//         width: 39px;
//         height: 44px;
//         margin: 1rem auto;
//     }
//     .icon2{
//         background-position: 1px -48px;
//         width: 47px;
//         height: 44px;
//         margin: 1rem auto;
//     }
//     .icon3{
//         background-position: 1px -94px;
//         width: 47px;
//         height: 44px;
//         margin: 1rem auto;
//     }
//     .icon4{
//         background-position: 1px -140px;
//         width: 47px;
//         height: 44px;
//         margin: 1rem auto;
//     }
// }

// @media only screen and (max-width: 950px) {
//     .register_header_Links, .register_header_Links a {
//       width: 100%;
//     }
//   }