@import "../../styles/constants.scss";
@import "../ProfileCard/ProfileCard.module.scss";

.InterestBtnGroup {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;

  Button {
    display: flex;
    gap: 5px;
    align-items: center;
    color: black;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 14px;
    background: #dc354517;
    border-radius: 30px;
    height: 36px;

    svg {
      height: 22px;
      width: 22px;
      color: #dc3545;
    }
    .loginSpiner {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      color: #dc3545 !important;
    }
  }
  Button:hover {
    color: #dc3545;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background: #dc354517;
  }

  .activebtn {
    background-color: #dc3545;
    color: #fff;

    .activesvg {
      color: #fff;
    }
  }
  .activebtn:hover {
    color: #fff;
    background-color: #dc3545;
  }

  .acceptBtn {
    background-color: rgb(205 240 212 / 81%);
    color: #19ac23;
    svg {
      color: #19ac23;
    }
  }
  .declineBtn {
    background: #dc354517;
  }

  .acceptBtn:hover {
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #19ac23;
    svg {
      color: #ffffff;
    }
  }

  .declineBtn:hover {
    color: #dc3545;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    svg {
      color: #dc3545;
    }
  }

  // .activebtn {
  //   background-color: #35dc59;
  //   color: #fff;

  //   .activesvg {
  //     color: #fff;
  //   }
  // }
  // .activebtn:hover {
  //   color: #fff;
  // }
  .activebtn:disabled {
    background: #dc354517;
    color: #dc3545;
    svg {
      color: #dc3545;
    }
  }
  Button:disabled {
    background: #dc354517;
    color: #dc3545;
    svg {
      color: #dc3545;
    }
  }
}
