@import "../../../styles/constants.scss";

.content {
    padding: 2rem;
    background-color: $milkWhite_bg;
    margin-right: 10px;
    font-size: 0.938rem;
    border-bottom: 1px solid #c2c8ce;

    .DetailsTypeSec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #d82020;

        .DetailsTypeLeft {
            display: flex;
            gap: 0.3rem;
            align-items: baseline;
            font-size: 20px;
            align-items: center;

            svg {
                font-size: 21px;
            }

            .DetailsTypeLeft_subHeading {
                color: #999;
                font-size: 14px;
            }
        }

        .Edit {
            font-size: 17px;
            cursor: pointer;
            font-weight: 600;
        }
    }


    .Username {
        p {
            font-size: 24px;
            color: #c5c5c5;
            text-transform: capitalize;
            margin: 1rem auto;
            font-weight: 400;

            span {
                color: #979090;
            }

        }
    }

    .userDiscription {
        p {
            font-size: 14px;
            color: #979090;
            margin: 1rem auto;
            font-weight: 400;
            padding: 0 1rem;
        }
    }

    .UserVerified {
        display: flex;
        background-color: #e3e3e3;
        align-items: center;
        padding: 0.7rem 1rem;
        border-radius: 7px;
        gap: 0.5rem;
        color: lightslategray;
        font-size: 14px;

        svg {
            font-size: 20px;
            color: rgb(73, 73, 248);
        }

        span {
            color: #ed2d2d;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    .Userdetails {
        font-size: 0.938rem;
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0 1rem;

        .UserdetailsSec {
            .input_Name {
                color: #999;
                margin: 0%;
                text-transform: capitalize;
            }

            .input_Value {
                color: #979090;
                font-weight: 600;
                margin: 0%;
                text-transform: capitalize;
            }

            .input_Value_NotFilled {
                color: #ed2d2d;
                font-weight: 500;
                margin: 0%;
            }

        }
    }

    .pin {
        color: #ed2d2d;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin: 1rem 0;

        svg {
            margin-right: 2px;
            font-size: 22px;
            color: #999;
        }
    }
}






@media only screen and (max-width: 990px) and (min-width: 768px) {


    .content {
        padding: 1rem;

        .DetailsTypeSec {

            .DetailsTypeLeft {
                padding-right: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 667px) {


    .content {
        padding: 2rem 1rem;
        margin: 0%;

        .DetailsTypeSec {

            .DetailsTypeLeft {
                flex-wrap: wrap;
                row-gap: normal;
            }
        }

        .Username {
            p {
                span {
                    font-size: 1.2rem !important;
                }
                
            }
        }
        .aboutUSerDetails{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}



@media only screen and (max-width: 300px) {
    .content {
        padding: 1rem;
        margin-right: 0px;

        .DetailsTypeSec {

            .DetailsTypeLeft {
                display: flex;
                gap: 0.3rem;
                align-items: baseline;
                font-size: 16px;

                svg {
                    font-size: 21px;
                }

                .DetailsTypeLeft_subHeading {
                    color: #999;
                    font-size: 14px;
                }
            }
        }

        .UserVerified {
            font-size: 10px;

            span {
                font-size: 10px !important;
            }
        }
    }
}