@import "../../../styles/constants.scss";

.emptyDiv {
    height: 1rem;
}

.rghtSec {
    background-color: $milkWhite_bg;
    padding: 2rem 1rem;
    text-align: center;
    color: #34495e;

    hr {
        color: inherit;
        border: 0;
        border-top: 1px solid;
        opacity: .25;
        margin: unset;
        width: fit-content;
    }

    .DetailsTypeSec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #d82020;
        margin-bottom: 1.5rem;

        .DetailsTypeLeft {
            display: flex;
            gap: 0.3rem;
            align-items: center;
            font-size: 20px;

            svg {
                font-size: 21px;
            }

            .DetailsTypeLeft_subHeading {
                color: #999;
                font-size: 14px;
            }
        }

        .Edit {
            font-size: 17px;
            cursor: pointer;
            font-weight: 600;
        }
    }

    button {
        width: 100%;
    }

    ul {
        list-style-type: none;
        font-size: 0.875rem;
        text-align: left;
        padding: 2rem 0 0 0;
        border-top: 1px solid #34495e;

        li {
            :nth-last-child(2) {
                color: #999;
                margin-bottom: 0.2rem;
            }

            .verify {
                display: flex;
                justify-content: space-between;

                .isverifyTrued {
                    color: #d82020;
                    cursor: pointer;
                }

                .isverifyFalse {
                    color: #999;
                    cursor: pointer;
                }
            }

            .input_Value {
                color: #979090;
                font-weight: 600;
                margin: 0.5rem 0;
            }

            .input_Value_NotFilled {
                color: #ed2d2d;
                font-weight: 500;
                margin: 0.5rem 0;
            }
        }
    }

    .contactEditSec {
        font-size: 0.875rem;
        text-align: left;
        padding: 2rem 0 0 0;
        border-top: 1px solid #34495e;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .singleBox {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;

            label {
                margin: 0%;
            }


            .EditInputSec {
                border: 1px solid #d9d9d9;
                position: relative;
                padding: 0.6rem 1rem;

                input {
                    border: none;
                    width: 100%;
                    float: left;
                    height: 100%;
                    text-align: left;
                    outline: none;
                }

                p {
                    display: flex;
                    margin: 0%;
                    position: absolute;
                    right: 10px;
                    transform: translateY(-50%);
                    top: 50%;
                    align-items: center;
                }
            }

            .UserVerified {
                border: 1px solid #d9d9d9;
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                position: relative;
                align-items: center;
                justify-content: flex-start;

                svg {
                    color: rgb(111, 111, 250);
                    position: initial !important;
                    margin-right: 5px
                }

                p {
                    color: #ff3b3b;
                    font-size: 14px;
                    cursor: pointer;
                    margin: 0%;
                }
            }

            .EditInputSecDisable {
                border: 1px solid #d9d9d9;
                position: relative;

                input {
                    padding: 0%;
                    border: none;
                    width: 100%;
                    float: left;
                    height: 100%;
                    text-align: left;
                    padding: 0.7rem 1rem;
                }

                span {
                    position: absolute;
                    right: 10px;
                    transform: translateY(-50%);
                    top: 50%;
                    align-items: center;
                    background-color: $darkGrey_bg;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;

                    svg {
                        position: initial !important;
                        color: #fff;
                    }
                }
            }


        }
        .EditbuttonGroup {
            display: flex;
            gap: 2rem;
        }


    }
}











@media only screen and (max-width: 990px) and (min-width: 768px) {

    .rghtSec {

        ul {
            li {
                p {
                    flex-wrap: wrap;
                }
            }
        }

        button {
            padding: 0.7rem 1rem;
        }
    }
}











@media only screen and (max-width: 540px) and (min-width:423px) {
    .rghtSec {
        padding: 2rem;

        ul {
            padding: 2rem;
            padding-bottom: 0;
        }
    }
}

@media only screen and (max-width: 415px) {

    .rghtSec {
        padding: 2rem;

        ul {
            padding: 2rem;
            padding-bottom: 0;
        }
    }
}



@media only screen and (max-width: 300px) {
    .cardWrapper {

        .cardInfo {
            ul {
                height: auto;
            }
        }

    }

    .rghtSec {
        padding: 1rem;

        ul {
            padding: 1.5rem;
            padding-bottom: 0;
        }
    }
}