// Search
.background_banner {
  background: url("../../public/Images/cover_img_free_chat.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-position-y: top;
}

.bg_gray {
  background-color: #e7e6e6;

  .Search_body {
    border-radius: 2px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 3.5rem 0 0 0;

    .search_group {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      label {
        text-align: right;
        width: 150px;
        margin-right: 25px;
        color: #999595;
        align-self: center;
      }

      .input_search {
        border-radius: 0px;
        border: 1px solid #d1d1d1;
        width: 54%;
        padding: 0.7rem;
        box-shadow: 0.5px 0.5px 3px #d1d1d1;
      }

      .input_select {
        width: 27%;
        border: 1px solid #d1d1d1;
        border-radius: 0px;
        padding: 0.7rem;
        box-shadow: 0.5px 0.5px 3px #d1d1d1;
      }
    }
  }
}

.search_main {
  .accordion-item:first-of-type .accordion-button {
    background-color: #d9475c;
  }

  .search_box {
    background-color: #f2f1f1;
    text-align: center;
    padding: 1rem 2rem;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    box-shadow: 1px 1px 1px #d1d1d1;
    cursor: pointer;

    &:hover{
      background-color: #d9475c;
      color: #fff;
      border-bottom: 2px solid #222;
    }
    }
}