.imageGallery {
  background-color: #fff;
  border-radius: 2px;
  padding: 2rem;
  padding-top: 0;

  .imageGallery_addPhoto {
    // background-color: #eeeeee;
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: flex-start;
    // align-items: center;
    // margin: 1rem 0;
    // gap: 1rem;
    // margin-bottom: 2rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;

    .addMorePhoto {
      background-color: rgba(0, 0, 0, 0.623);
      width: auto;
      padding: 0.3rem 1rem;
      color: white;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
    }
    span{
      font-size: 12px;
      margin-top: 0.5rem;
      min-width: 170px;
      padding: 0 8px;
      font-weight: 400;
    }
  }

  :last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;

    a {
      width: 31%;
      background-color: #eeeeee;

      img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
      }

      @media only screen and (max-width: 888px) {
        width: 31%;
      }
      @media only screen and (max-width: 667px) {
        width: 100%;
      }
    }

    @media only screen and (max-width: 667px) {
      flex-direction: column;
    }
  }
  .noImageSec {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    video {
      height: 180px;
      width: 180px;
    }

    h3 {
      font-size: 18px;
      color: #d9475c;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .galleryProcted {
    height: 20rem;
    width: 100%;
    // background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .protectedGalleryImg {
      width: 200px;
      height: 200px;
    }
  }
}

.addbtn {
  background-color: #d9475c !important;
}
