.imageGallery {
  background-color: #fff;
  border-radius: 2px;
  padding: 2rem;

  .addMorePhoto {
    background-color: rgba(0, 0, 0, 0.623);
    width: auto;
    padding: 0.3rem 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

  :last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;

    a {

      width: 23%;
      background-color: #eeeeee;

      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
      }

      @media only screen and (max-width: 888px) {
       width: 31%;
      }
      @media only screen and (max-width: 667px) {
       width: 100%;
      }

    }

    @media only screen and (max-width: 667px) {
      flex-direction: column;
    }
  }
}

.addbtn {
  background-color: #d9475c !important;
}