@import "../LandingPage/LandingPage.module.scss";
// @import "../../styles/constants.scss";
// .Home_Page_Wrapper{
//     margin-top: -34rem;
//     width: 75%;
//     span{
//         color: $lightGrey_txt;
//         letter-spacing: 1.75px;
//         font-size: 0.875rem;
//     }
//     h1{
//         font-size: 1.75rem;
//         font-weight: $fw400;
//         padding-top: 0.5rem;
//         padding-bottom: 1rem;
//         strong{
//             color: $red_txt;
//         }
//     }
//     h3{
//         font-weight: $fw600;
//         font-size: 1rem;
//         padding-top: 1rem;
//     }
//     .Home_heading {
//             h1{
//             font-family: 'Noto Serif',"serif";
//             font-style: normal;
//             font-weight: 900;
//             font-size: 3rem;
//             line-height: 3.25rem;
//             letter-spacing: -0.03em;
//             color: $white_txt;
//             text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
//         }
//         span{
//             color: $white_txt;
//             font-size: 1.25rem;
//             text-shadow: 0px 4px 4px rgb(0 0 0 / 75%);
//             margin-top: 0.375rem;
//         }
//     }
//     .Home_colord_body{
//         background-color: $darkGrey_bg;
//         color: $white_txt;
//         .content{
//             padding: 3rem;
//         }
//         h1{
//             font-size: 1.75rem;
//             font-weight: 400;
//             padding-top: 0.5rem;
//             padding-bottom: 1rem;
//         }
//         p{
//             line-height: 27px;
//         }
//         img{
//             width: 14%;
//         }
//     }
// }

.Browse_colord_body{
    background-color: $transparent_maroon;
    color: $white_txt;
    padding: 0 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    h3{
        font-size: 1rem;
        font-weight: 600;
        padding: 0;

    }
    p{
        font-size: 14px;
        margin: 0;
    }
    img{
        // width: 14%;
        width: 41px;
        height: 24px;
        filter: invert(1);
        margin-right: 0.5rem;
    }
}
.breadCrum{
    display: flex;
    padding: 1.8rem 0;
    color: $lightGrey_txt;
}
.button{
    display: flex;
    flex-direction: column;

    Button{
        margin-left: 5px;
        margin-top: 6px;
        margin-bottom: 6px;
        display: inline-block;
        padding: 6px 15px;
        border: 1px solid #B3BAC5;
        font-size: 15px;
        color: $lightGrey_txt;
        background: none;
    }
    :hover{
        transition: background-color 1s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        background: #f7f7f7;
        color: $lightGrey_txt;
        border: 1px solid #B3BAC5;
    }
}