@import "../../../../styles/constants.scss";

.cardWrapper {
    margin-top: -3rem;
    width: 75%;

    img {
        width: 100%;
    }

    SVG {
        cursor: pointer;
    }

    .cardInfo {
        padding: 20px 34px 10px 34px;
        background-color: $light_grey_bg;

        @media only screen and (max-width: 676px) {
            .NameDetails {
                min-height: 50px;
            }
        }

        span {
            font-size: 24px;
            color: $darkGrey_bg;
        }

        small {
            font-size: 12px;
            color: $darkGrey_bg;
        }

        small:nth-child(4) {
            float: right;
        }

        .lockIcon {
            svg {
                color: $red_bg;
                cursor: pointer;
            }
        }

        .tickIcon {
            svg {
                color: #2e97ea;
                cursor: pointer;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 130px;
            padding-top: 1rem;

            li {
                color: $darkGrey_bg;
                margin-bottom: 3px;
            }

            @media only screen and (max-width: 676px) {
                height: auto;
                flex-direction: column;
                width: 100%;
                gap: 5px;

                li {
                    margin-bottom: 0%;
                }
            }
        }

        .profileCardIiconSection {
            display: flex;
            gap: 10px;
        }
    }

    .rightBox {
        background-color: rgb(52 73 94);
        ;
        color: $white_txt;
        text-align: start;
        padding: 0;

        p {
            line-height: 55px;
            padding-left: 24px;
            cursor: pointer;
            font-size: 20px;
            margin: 0;
        }

        :hover {
            background-color: $red_bg;
        }

        svg {
            margin-right: 20px;
            font-size: 1.5rem;
        }
    }
}

.bg {
    background: rgb(231, 230, 230);
}