@import "../../../../styles/constants.scss";

.cardWrapper {
    margin-top: -3rem;
    width: 75%;

    img {
        width: 100%;
    }

    SVG {
        cursor: pointer;
    }

    .cardInfo {
        padding: 20px 34px 10px 34px;
        background-color: $light_grey_bg;

        @media only screen and (max-width: 676px) {
            .NameDetails {
                min-height: 60px;
            }
        }

        span {
            font-size: 24px;
            color: $darkGrey_bg;
        }

        small {
            font-size: 12px;
            color: $darkGrey_bg;
        }

        small:nth-child(4) {
            float: right;
        }

        .lockIcon {
            svg {
                color: $red_bg;
                cursor: pointer;
            }
        }

        .tickIcon {
            svg {
                color: #2e97ea;
                cursor: pointer;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 130px;
            padding-top: 1rem;

            li {
                color: $darkGrey_bg;
                margin-bottom: 3px;
            }

            @media only screen and (max-width: 676px) {
                height: auto;
                flex-direction: column;
                width: 100%;
                gap: 5px;

                li {
                    margin-bottom: 0%;
                }
            }
        }

        .profileCardIiconSection {
            display: flex;
            gap: 10px;
        }
    }

    .rightBox {
        background-color: rgb(52 73 94);
        ;
        color: $white_txt;
        text-align: start;
        padding: 0;

        p {
            line-height: 55px;
            padding-left: 24px;
            cursor: pointer;
            font-size: 20px;
            margin: 0;
        }

        :hover {
            background-color: $red_bg;
        }

        svg {
            margin-right: 20px;
            font-size: 1.5rem;
        }
    }
}

.bg {
    background: rgb(231, 230, 230);
}



@media only screen and (max-width: 990px) and (min-width: 768px) {

    .cardWrapper {
        padding: 0%;

        img {
            object-fit: cover;
        }

        .cardInfo {
            padding: 1rem;

            ul {
                height: 150px;
                padding-top: 1rem;
                gap: 8px;
            }
        }

        .rightBox {
            display: flex;
            justify-content: space-evenly;

            p {
                padding: 0%;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }



}




@media only screen and (max-width: 415px) {
    .cardWrapper {
        width: 100%;

        .cardInfo {
            padding: 20px;

            .NameDetails {
                min-height: auto;
            }
        }

        .rightBox {
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            grid-template-columns: repeat(2, 50%);
            place-items: flex-start;
            padding: 0 30px;
        }

        p {
            display: flex;
            padding: 0;
            align-items: center;
            gap: 7px;

            svg {
                margin: 0%;
            }
        }
    }
}
