.singleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
  div {
    width: 100%;
  }
  .inputBox {
    margin: 0%;
    padding: 0%;
    text-align: start;
    width: -webkit-fill-available;

    input {
      text-align: start;
      padding: 1.5rem;
    }
  }
}
