
@import "../../styles/constants.scss";

.browserTopBox{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    span{
        color: #405765;
        cursor: pointer;
        padding: 0.5rem;
        // padding: 0.5rem 1rem;
        font-size: 1rem;
        display: inline-block;
        // border: 1px solid;
        // border-radius: 20px;
    }
}
.browserBottomBox{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    a{
        color: $browser_text;
        cursor: pointer;
        padding: 0.3125rem 0.625rem;
        line-height: 24px;
        font-size: 0.8125rem;
    }
}
.active{
    background-color: #e5e5e5;;
}