
@import "../../styles/constants.scss";

.browserTopBox{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 115px;
    flex-direction: column;
    span{
        color: #405765;
        margin-right: 14px;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 1rem;
        display: inline-block;
    }
}
.browserBottomBox{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 120px;
    a{
        color: $browser_text;
        margin-right: 14px;
        cursor: pointer;
        padding: 0.3125rem 0.625rem;
        line-height: 24px;
        font-size: 0.8125rem;
    }
}
.active{
    background-color: #e5e5e5;;
}