@import "../../styles/constants.scss";

.background_header {
  padding: 0rem 0 7rem 0;
  background-size: cover !important;
  color: gray;
  text-align: center;
  height: 398px;
  width: 75%;
  position: relative;
  z-index: 10;

  p {
    font-size: 23px;
    margin: 0rem 0 2rem 0;
    font-weight: 500;
    padding: 2rem;
    padding-bottom: 0;
  }

  .changeBackground {
    background-color: rgba(0, 0, 0, 0.623);
    width: auto;
    float: right;
    padding: 0.5rem 1rem;
    color: white;
    display: flex;
    align-items: baseline;
    gap: 0.7rem;
    font-size: 14px;
    cursor: pointer;
  }
}

.bg {
  background: rgb(231, 230, 230);
}

.detailsWrapper {
  width: 75%;
  margin-top: 4rem;
  padding: 0%;
  padding-bottom: 3rem;

  .tabSection {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    flex-direction: row;
    margin: 0%;
    margin-bottom: 1rem;

    .TabButton {
      background-color: transparent;
      border: 1px solid #d5d5d5;
      border-radius: 21px;
      padding: 5px 15px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      width: auto;
    }
    .TabButtonActive {
      background-color: #dc3545;
      color: #fff;
    }
  }

  .datecont {
    background-color: #d5d5d5;
    padding: 17px 27px 17px 25px;
    margin-right: 10px;

    p {
      color: #777;
    }
  }

  hr {
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    margin: unset;
    width: fit-content;
  }

  @media only screen and (max-width: 676px) {
    .datecont {
      margin-right: 0;
      padding: 17px 25px;
      text-align: center;

      p {
        margin-bottom: 0%;
      }
    }
  }
}

.galleryModel {
  .galleryModel_title {
    text-transform: capitalize;
    font-weight: 500
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .background_header {
    width: 100%;

    p {
      max-width: 75%;
      margin: 0rem auto 2rem;
    }
  }
}

@media only screen and (max-width: 540px) and (min-width: 423px) {
  .background_header {
    width: 100%;
  }

  .detailsWrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 415px) {
  .background_header {
    .changeBackground {
      margin: 0 5rem;
      float: inherit;
      justify-content: center;
    }
  }
  .background_header {
    width: 100%;
  }

  .detailsWrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .background_header {
    .changeBackground {
      margin: 0 1rem;
      float: inherit;
      justify-content: center;
      padding: 0.5rem;
    }
  }

  .detailsWrapper {
    width: 100%;
  }
}
