@import "../../styles/constants.scss";

.background_header {
  background: url("../../public/Images/cover-image-register.jpg") no-repeat
    center center;
  padding: 3rem 0 15rem 0;
  background-size: cover;
}

.bg {
  background: rgb(231, 230, 230);
}

.search_main {
  padding-top: 2rem;
  position: relative;

  .tabSection {
    background-color: #fff;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    flex-direction: row;
    width: 75%;
    margin-bottom: 1rem;
    justify-content: center;
    position: absolute;
    margin-top: -9rem;
    transform: translateX(50%);
    right: 51%;

    .TabButton {
      background-color: transparent;
      border: 1px solid #d5d5d5;
      border-radius: 21px;
      padding: 5px 15px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      width: auto;
      text-transform: capitalize;
      color: #1d1b1b;
    }
    .TabButtonActive {
      background-color: #dc3545;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1124px) {
  .search_main {
    .tabSection {
      margin: auto;
      margin-top: -10rem;
      transform: translateX(-0%);
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: auto;
      position: initial;
    }
  }
}
@media only screen and (max-width: 424px) {
  .search_main {
    .tabSection {
      gap: 1rem;
      margin-top: -13rem;
      width: 90%;
    }
  }
}

@media only screen and (max-width: 300px) {
  .search_main {
    .tabSection {
      margin-top: -13rem;
    }
  }
}
