.StrictWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    max-width: 32%;

    .StrictWrapper_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .Switch {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 95%;
            z-index: 5;
            gap: 0.5rem;

            span {
                font-size: 14px;
            }

            .SwitctCusttom {

                >div {
                    height: 21px !important;
                    width: 51px !important;
                    margin: 0px;

                    div {
                        height: 23px !important;
                    }
                }

                :nth-child(2) {
                    height: 20px !important;
                    width: 20px !important;
                    top: 0 !important;
                }
            }
        }



    }
}


@media only screen and (max-width: 1200px) and (min-width: 300px) {
    .StrictWrapper {
        position: absolute;
        right: 0rem;
        max-width: initial;
        width: 70%;

        .StrictWrapper_section {

            .Switch {
                span {
                    font-size: 13px;
                }
            }
        }
    }

}

@media only screen and (max-width: 990px) and (min-width: 767px) {
    .StrictWrapper {
        position: absolute;
        right: 0rem;
        max-width: initial;
        width: 40%;
    }

}

@media only screen and (max-width: 767px) and (min-width: 415px) {
    .StrictWrapper {
        position: absolute;
        right: 0rem;
        max-width: initial;
        width: 50%;
    }

}



@media only screen and (max-width: 300px) {
    .StrictWrapper {
        position: absolute;
        right: 0rem;
        width: auto;

        span {
            display: none;
        }
    }
}