@import "../../../../styles/constants.scss";

.content{
    padding: 30px 27px 20px 55px;
    background-color: $milkWhite_bg;
    margin-right: 10px;
    font-size: 0.938rem;
    border-bottom: 1px solid #c2c8ce;
    span{
        font-size: 1.063rem;
        color: $red_txt;
        svg{
            margin-right: 0.5rem;
            font-size: 2rem;
        }
    }
    .eduCont{
        
        ul {
            list-style-type: none;
            font-size: 0.875rem;
            text-align: left;
            padding: 2rem 0 0 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 3rem;

            li {
                width: 50%;
                :nth-last-child(2) {
                    color: #999;
                    margin-bottom: 0.2rem;
                }
            }
        }
    }
}




@media only screen and (max-width: 990px) and (min-width: 768px) {
    .content{
        padding: 30px 20px;
        .eduCont{
            margin: 0rem;
            ul{
                margin: 0 1rem;

                li{
                    padding-right: 10px;
                }
            }
        }
    }

}










@media only screen and (max-width: 676px) {
    .content{
        margin: 0%;
        padding: 25px;

        .eduCont{
           margin: 0;
            ul{
                margin: 0%;
            }
        }
    }
}


@media only screen and (max-width: 300px) {
    .content{
        padding: 20px;
        margin: 0%;

        .eduCont{
            margin: 0%;
            ul{
                margin: 0%;
            }
        }
    }
}