//Theme Colors

$milkWhite_bg: #ffffff;
// $milkWhite_bg: #f8f9fa;
$darkWhite_bg: #f8f9f9;
$darkGrey_bg: #34495ef2;
$red_bg: #d9475c;
$transparent_maroon: #92243bf5;
$more_transparent_maroon: #92243cce;
$dark_maroon_bg: #92243c;
$light_grey_bg: #f0f2f7;

//Text Color
$white_txt: #fff;
$lightGrey_txt: #8a9db0;
$red_txt: #d9475c;
$dark_txt: #4444;
$browser_text: #909090;
$lighter_text: #34495e;

//Font weights
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;

//border
$light_border: #dfe6ed;

.loginSpiner {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  color: #ffffff !important;
}

.lg-container.lg-show {
  display: block;
  z-index: 5000;
  position: relative;
}

