@import "../../styles/constants.scss";


.gender_main {
  gap: 10px;

  .Gender_from_input {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    padding: 0;
    gap: 10px;

    input {
      margin: 0;
      cursor: pointer;
    }

    label {
      margin: 0;
      position: initial;
      cursor: pointer;
      display: inline-block;
      min-width: 0;
    }
  }
}

.gender_Section_Mob {
  .gender_Male {
    margin-top: 0;
  }
}

@media only screen and (max-width: 990px) {
  .gender_Section_Mob {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
}