@import "../../styles/constants.scss";

.background_header {
  background: url("../../public/Images/cover-image-register.jpg") no-repeat
    center center;
  padding: 3rem 0 5rem 0;
  background-size: cover;
}

.DesiredWrapper {
  background: rgb(231, 230, 230);
  padding-bottom: 10rem;

  .innerWrapper {
    width: 85%;
    background-color: rgb(231, 230, 230);
    padding: 0 6rem;
    padding-right: 3rem;

    h1 {
      font-size: 1.375rem;
      text-align: center;
      padding: 2rem 0 0 0;
    }

    p {
      padding: 1rem 0;
      text-align: center;
    }

    .dark_box {
      background-color: $dark_maroon_bg;
      color: #fff;
      padding: 1rem;
      text-align: center;
      font-size: 1.1875rem;
    }

    .checkBox {
      padding: 1.25rem 0;
      text-align: center;
      font-size: 1.125rem;

      div {
        display: inline-block;
        margin: 0 13px;
      }

      small {
        font-size: 0.9375rem;
        color: #999;
        display: block;
      }
    }
  }

  .editInfo {
    text-align: center;

    span {
      margin: 0 0.5rem;
    }

    span:nth-child(2) {
      color: $red_txt;
      cursor: pointer;
    }
  }

  .savePartnerBtn {
    padding: 0.75rem 2.5rem;
    font-weight: 500;
    outline: none;
    border: 0;
    border-radius: 0.25rem;
    background-color: #d9475c;
    color: #fff;
    width: auto;
    margin: 1rem auto;
  }
  .form_wrapper {
    position: relative;

    .formEdit {
      width: 84%;
      z-index: 2;
      margin-left: 4rem;

      .twoBox {
        display: flex;

        div {
          width: 100%;

          svg {
            position: absolute;
            right: 15px;
            top: 40%;
          }
        }

        .inputBox {
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          padding: 0.875rem 5.5rem;
          text-align: center;
          margin: 0.6em;
          color: $browser_text;
          cursor: pointer;
          position: relative;
          min-width: 275px;

          .inputBoxVal {
            visibility: hidden;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            padding: 0.875rem 1rem;
            text-align: center;
            margin: 0.6em;
            color: $browser_text;
            cursor: pointer;
            width: 100%;
            position: absolute;
            left: -9px;
            border: 1px solid $red_bg;
            background: $milkWhite_bg;
            box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
            z-index: 9;

            ul {
              list-style: none;
              margin: 0;
              padding: 0 5px;
              width: 100%;
              max-height: 300px;
              overflow-x: hidden;
              overflow-y: scroll;
              cursor: text;
              display: grid;
              grid-template-columns: auto auto auto;

              li {
                position: relative;
                margin: 3px 5px 3px 0;
                padding: 10px 20px 10px 5px;
                border: 1px solid #d9d9d9;
                max-width: 100%;
                border-radius: 3px;
                background-color: #f5f5f5;
                line-height: 13px;
                cursor: default;

                &:hover {
                  background-color: #d9475c;
                  color: #fff;
                }
              }

              .tabActive {
                background-color: #d9475c;
                color: #fff;
              }
            }
          }
        }
      }

      .input_max {
        width: -webkit-fill-available;
      }

      label {
        position: absolute;
        width: 130px;
        text-align: end;
        left: -9rem;
        top: 50%;
        transform: translateY(-50%);
      }

      input {
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 0.875rem 2.5rem;
        text-align: center;
        // margin: 0.6em;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

///single input box css

.DesieredSingleBox {
  display: flex;
  position: relative;
  width: 100%;
  gap: 1rem;

  .singleDropDown {
    position: relative;
    display: flex;
    padding: 0.6rem;
    width: 100%;
  }
}

.singleBox {
  display: flex;
  position: relative;
  width: 66%;

  div {
    width: 100%;

    svg {
      position: absolute;
      right: 3px;
      top: 20%;
      cursor: pointer;
    }
  }

  .inputBox {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0.875rem 1rem;
    text-align: center;
    margin: 0.6em;
    color: $browser_text;
    cursor: pointer;
    width: 100%;
    position: relative;
    min-width: 580px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;
      max-height: 100px;
      overflow-x: hidden;
      // overflow-y: scroll;
      cursor: text;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        position: relative;
        margin: 3px 5px 3px 0;
        padding: 10px 20px 10px 5px;
        border: 1px solid #d9d9d9;
        max-width: 100%;
        border-radius: 3px;
        background-color: #f5f5f5;
        line-height: 13px;
        cursor: default;
        height: fit-content;
      }
    }
  }

  .blankInput {
    border: none !important;
    background: transparent !important;

    input {
      margin: 1px 0;
      padding: 0;
      height: 25px;
      outline: 0;
      border: 0 !important;
      background: transparent !important;
      box-shadow: none;
      color: #999;
      font-size: 100%;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;
    }
  }

  .inputBoxVal {
    visibility: hidden;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0.875rem 1rem;
    text-align: center;
    margin: 0.6em;
    color: $browser_text;
    cursor: pointer;
    width: 100%;
    position: absolute;
    left: -9px;
    border: 1px solid $red_bg;
    background: $milkWhite_bg;
    box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
    z-index: 9;

    ul {
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;
      max-height: 300px;
      cursor: default;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        position: relative;
        margin: 3px 5px 3px 0;
        padding: 10px 20px 10px 5px;
        border: 1px solid #d9d9d9;
        max-width: 100%;
        border-radius: 3px;
        background-color: #f5f5f5;
        line-height: 13px;
        cursor: pointer;

        &:hover {
          background-color: #d9475c;
          color: #fff;
        }
      }

      .tabActive {
        background-color: #d9475c;
        color: #fff;
      }
    }
  }
}

.buttonWrapper {
  width: 66%;
  padding: 0.6rem;
  text-align: center;
}

.active {
  visibility: visible !important;
}

@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .DesiredWrapper {
    .innerWrapper {
      padding: 0px 2rem;
    }

    .form_wrapper {
      .formEdit {
        width: 98%;
        z-index: 2;
        margin: 0%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          width: 100%;
          text-align: left;
          left: 0rem;
          position: initial;
          transform: translateY(0px);
        }

        .singleDropDown {
          margin-left: 0%;
        }

        .singleBox {
          flex-direction: column;
          width: 100%;

          input {
            width: 100%;
            margin: 0%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .DesiredWrapper {
    padding-bottom: 5rem;

    .innerWrapper {
      padding: 0px 2rem;
    }

    .form_wrapper {
      .formEdit {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;

        label {
          position: initial;
          width: fit-content;
          text-align: start;
          transform: translateY(0%);
        }
      }
    }
  }

  .DesieredSingleBox {
    .singleDropDown {
      width: 100%;
      margin: 0;
      position: relative;
      padding: 0%;
    }
  }

  .singleBox {
    flex-direction: column;
    width: 100%;

    input {
      margin: 0% !important;
    }
  }

  .buttonWrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .DesiredWrapper {
    padding-bottom: 5rem;

    .innerWrapper {
      width: 100%;
      padding: 0px 1rem;
    }

    .form_wrapper {
      .formEdit {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0%;

        label {
          position: initial;
          width: fit-content;
          text-align: start;
          transform: translateY(0%);
          max-width: 100px;
        }
      }
    }
  }

  .DesieredSingleBox {
    .singleDropDown {
      width: 100%;
      margin: 0;
      position: relative;
      padding: 0%;
    }
  }

  .singleBox {
    flex-direction: column;
    width: 100%;

    input {
      margin: 0% !important;
    }
  }

  .buttonWrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .DesiredWrapper {
    padding-bottom: 5rem;

    .innerWrapper {
      padding: 0px 1rem;
      width: 100%;
    }

    .form_wrapper {
      .formEdit {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0%;

        label {
          position: initial;
          width: fit-content;
          text-align: start;
          transform: translateY(0%);
        }

        input {
          padding: 0.875rem 0rem;
          text-align: center;
        }
      }
    }
  }

  .DesieredSingleBox {
    .singleDropDown {
      width: 100%;
      margin: 0;
      position: relative;
      padding: 0%;
    }
  }

  .singleBox {
    flex-direction: column;
    width: 100%;

    input {
      margin: 0% !important;
    }
  }

  .buttonWrapper {
    width: 100%;
  }
}
